{
  "converse" : {
    "default" : {
      "default" : [
        "The outer gods are watching...",
        "Your wish is my command... For now.",
        "I am ready to serve you... master...",
        "Are you my master?...",
        "The Beacon must be protected... Master must be protected...",
        "I will protect this place... unless the outer ones demand the opposite...",
        "I am ready to serve... I am ready to defend..."
      ]
    }
  },
  "tagCriteria" : {
    "default" : {
      "default" : [
        "The Beacon is disturbed...",
        "The darkness is growing...",
        "I cannot sense the Beacon..."
      ]
    }
  },
  "enclosedArea" : {
    "default" : {
      "default" : [
        "The Beacon cannot be safe here...",
        "The Beacon could be damaged... We must hide it from outsiders!"
      ]
    }
  },
  "otherDeed" : {
    "default" : {
      "default" : [
        "Stop! We must not disturb the Beacon!",
        "Only one can guard the Beacon... No more, no less."
      ]
    }
  },
  "severe" : {
    "default" : {
      "default" : [
        "I cannot sense the Beacon...",
        "I... I cannot stay much longer..."
      ]
    }
  },
  "final" : {
    "default" : {
      "default" : [
        "I must leave...",
        "My time has come...",
        "The outer gods are calling..."
      ]
    }
  },
  "beacon" : {
    "default" : {
      "default" : [
        "I am listening...",
        "Yes... master...",
        "I am ready to serve... To protect..."
      ]
    }
  },
  "rent" : {
    "default" : {
      "default" : [
        "The outer gods are pleased with you.",
        "Here is my offering to you..."
      ]
    }
  },
  "reattack" : {
    "default" : {
      "default" : [
        "I sense blood!...",
        "Here! Here they are!",
        "The darkness is approaching!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "Cthulhu fhtagn!",
        "Protect the Beacon!",
        "Do not resist the inevitable!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "They are gone... for good...",
        "The Beacon is safe...",
        "So much blood..."
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "Where are you?...",
        "You will not escape my wrath!",
        "I cannot sense them..."
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Something is close... Very, very close...",
        "You cannot hide from me...",
        "I can sense your fear..."
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "The outer ones will punish you for your cowardice!",
        "Keep running, there is no escape...",
        "Your resistance is futile and pathetic."
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [
        "The darkness will not consume us yet!",
        "Cthulhu fhtagn!"
      ]
    }
  }
}